In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_excel('/Users/mrszemiak/Desktop/anotácie/lalala/' + r'snkrftagger.xlsx', header= None)

In [12]:
df2 = df

In [15]:
import unidecode

In [13]:
df2

                 0
0              Kde
1               tá
2           ľudská
3             duša
4           drieme
...            ...
106021          na
106022        Zemi
106023       veľmi
106024  premenlivé
106025           .

[106026 rows x 1 columns]

In [16]:
ddf = df2[0].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [17]:
ddf

0                Kde
1                 ta
2             ludska
3               dusa
4             drieme
             ...
106021            na
106022          Zemi
106023         velmi
106024    premenlive
106025             .
Name: 0, Length: 106026, dtype: object

In [18]:
ddf.to_csv(r'rntaggersnk.txt', header=None, index=None, sep=' ')